snippet if "Django's if statement"
	{% if ${1:condition} %}

snippet endif "Django's end if statement"
	{% endif %}

snippet for "Django's for statement"
	{% for ${1:element} in ${2:iterable} %}

snippet endfor "Django's end for statement"
	{% endfor %}
