snippet if "Django's if statement"
	{% if ${1:condition} %}
		$0
	{% endif %}
snippet for "Django's for statement"
	{% for ${1:element} in ${2:iterable} %}
		$0
	{% endfor %}
snippet block "Jinja block"
	{% block ${1:name} %}
	{% endblock %}$0
