snippet "rmdheader" "Header metadata template for building documents in R markdown"
	---
	title: "${1:TITLE}"
	author: "Alvaro Viejo Alonso"
	output: pdf_document
	---
	\maketitle
	$0
snippet bold "Create bold "
	**${1:}** $0
snippet code "Create inline code"
	\`${1:}\` $0
snippet codeblock "Create a code block"
	\`\`\`${1:lang}
	${2:code}
	\`\`\` $0
snippet f "Create an inline equation"
	\$${1:}\$ $0
snippet ff "Create a block equation"
	\$\$${1:}\$\$ $0
